<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <title>Pensionatets bokningssystem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div class="container">
    <h2>Blacklists</h2>
    <hr>
    <div th:if="${command} == blacklistAlt">
        <h4>Välj alternativ</h4>
        <form th:action="@{/blacklists/addNewBlacklists}" method="post">
            <label for="addBlacklist">Add/update to blacklist:</label><br>
            <button th:type="submit" id = addBlacklist>Manage blacklist</button>
        </form>
            <br>
        <form th:action="@{/blacklists/getBlacklists}" method="get">
            <label for = "showBlacklist">Show all blacklists:</label><br>
            <button th:type="submit" id = showBlacklist th:class="service-btn">Show blacklist</button>
        </form>
    </div>
    <div th:if ="${command} == getAllblacklists">
        <h4>Alla blacklist</h4>
        <br>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>email</th>
                <th>name</th>
                <th>group</th>
                <th>created</th>
                <th>is not in blacklist</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="blacklist : ${blacklists}">
                    <td th:text="${blacklist.id}">Id</td>
                    <td th:text="${blacklist.email}">email</td>
                    <td th:text="${blacklist.name}">name</td>
                    <td th:text="${blacklist.group}">group</td>
                    <td th:text="${blacklist.created}">created</td>
                    <td th:text="${blacklist.ok}">is not in blacklist</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${command} == addNewBlacklist">
        <h4>Addera en ny blacklist</h4><br>
        <form th:action="@{/blacklists/addNewBlacklists/success}" method="post">
            <label for = "email">Email:</label><br>
            <input type = "text" id = "email" name= "email" placeholder="t.ex.123@mai.com">
            <label for="isOk"></label>
            <select id = "isOk" name="isOk">
                <option>Choose</option>
                <option value="true">not in blacklist</option>
                <option value="false">in blacklist</option>
            </select>
            <button th:type="submit" class="btn btn-danger">Addera</button>
            <div th:if = "${isAvailable} == false">
                <p th:text="${error_message}" class="warning"></p>
            </div>
        </form>
    </div>
</div>


</body>
</html>