<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bokningssystem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-black bg-color">
    <div class="bar px-4 px-lg-5 d-flex justify-content-between align-items-center">
        <h2 class="navbar-brand" href="#!">Hotel</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!--aria-current="page"-->
                <li class="nav-item">
                    <a class="nav-link active" href="" style="color: white">Home</a>
                </li>
                <li class = "nav-item service-dropdown"><a class="nav-link active service-btn" style="color: white">Service</a>
                    <div class = "service-content">
                        <form th:action="@{/bookings/Book-A-Room}" method="get"><input type="submit" value="Book a room"></form>
                        <form th:action="@{/Customers/addCustomer}" method="get"><input type="submit" value="Customers"></form>
                        <form th:action="@{/bookings/allBookings}" method="get"><input type="submit" value="All bookings"></form>
                        <form th:action="@{/rooms}" method = "get"><input type="submit" value="All rooms"></form>
                        <form th:action="@{/ContractCustomers/getAllContractCustomers}" method = "get"><input type="submit" value="All contracted customers"></form>
                        <form th:action="@{/blacklists}" method="get"><input type="submit" value="Blacklists"></form>
                        <form th:action="@{/logout}" method="get"><input type="submit" value="Logout"></form>

                    </div>
                </li>



            </ul>
        </div>
    </div>
</nav>
<h2>Alla Bokningar!</h2>

<div class="allaBokningar" th:unless="${allaBokningar.isEmpty()}">

    <h2>Bokningar: </h2>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Bokning ID</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Room Id</th>
            <th>Customer Id</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <span th:if="${deleteBookingMsg}" th:text="${deleteBookingMsg}" th:class="${'text-' + msgType}"></span>
        <tr th:each="booking : ${allaBokningar}">
            <td th:text="${booking.id}"></td>
            <td th:text="${booking.checkInDate}"></td>
            <td th:text="${booking.checkOutDate}"></td>
            <td th:text="${booking.room.id}"></td>
            <td th:text="${booking.customer.id}"></td>
            <td>
                <form th:action="@{/bookings/allBookings/delete/{id}(id=${booking.id})}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Ta Bort</button>
                </form>
            </td>
            <td> <a th:href="@{/bookings/allBookings/updateBooking/{id}(id=${booking.id})}" class="btn btn-warning btn-sm">Ändra</a> </td>
        </tr>
        </tbody>
    </table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
