<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bokningssystem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h2>Alla Bokningar!</h2>

<div class="allaBokningar" th:unless="${allaBokningar.isEmpty()}">

    <h2>Bokningar: </h2>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Bokning ID</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Room Id</th>
            <th>Customer Id</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${allaBokningar}">
            <td th:text="${booking.id}"></td>
            <td th:text="${booking.checkInDate}"></td>
            <td th:text="${booking.checkOutDate}"></td>
            <td th:text="${booking.room.id}"></td>
            <td th:text="${booking.customer.id}"></td>
            <td>
                <form th:action="@{/bookings/allBookings/delete/{id}(id=${booking.id})}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Ta Bort</button>
                </form>
            </td>
            <td> <a th:href="@{/bookings/allBookings/updateBooking/{id}(id=${booking.id})}" class="btn btn-warning btn-sm">Ändra</a> </td>
        </tr>
        </tbody>
    </table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
