
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <title>Room List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div class="container">
<h1>Contract Customers</h1>
    <br>
    <form method="GET">
        Search:
        <input type="text" name="q" th:value="${q}" />
    </form>
    <hr>
<table border="1">
    <thead>
    <tr>
        <th>
            Country
            <a th:href="@{|?q=${q}&sortCol=country&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
            <a th:href="@{|?q=${q}&sortCol=country&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-a-z"></i></a>
<!---
            <a href="?q=${q}&sortCol=country&sortOrder=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
            <a href="?q=${q}&sortCol=country&sortOrder=desc"><i class="fa-solid fa-arrow-down-a-z"></i></a>

-->
        </th>

        <th>
            Contact Name
            <a th:href="@{|?q=${q}&sortCol=contactName&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
            <a th:href="@{|?q=${q}&sortCol=contactName&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-a-z"></i></a>

            <!---
            <a href="?q=${q}&sortCol=contactName&sortOrder=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
            <a href="?q=${q}&sortCol=contactName&sortOrder=desc"><i class="fa-solid fa-arrow-down-a-z"></i></a>

-->
        </th>
        <th>
            Company Name
            <a th:href="@{|?q=${q}&sortCol=companyName&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
            <a th:href="@{|?q=${q}&sortCol=companyName&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-a-z"></i></a>

            <!---
            <a href="?q=${q}&sortCol=companyName&sortOrder=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
            <a href="?q=${q}&sortCol=companyName&sortOrder=desc"><i class="fa-solid fa-arrow-down-a-z"></i></a>

-->

        </th>
        <th>
            View all info

        </th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="contractCustomer : ${contractCustomer}">
        <td th:text="${contractCustomer.country}">Country</td>
        <td th:text="${contractCustomer.contactName}">Contact Name</td>
        <td th:text="${contractCustomer.companyName}">Company Name</td>
        <td>
            <a th:href="@{'/ContractCustomers/getAllContractCustomersInDetail/' + ${contractCustomer.id}}">View</a>
        </td>
    </tr>
    </tbody>
    </table>
    <!--aria-curren
        <ul class="pagination" id="pager">
            <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                <li th:if="${pageNo == 1}" class="page-item active" th:text="${i}"></li>
                <li th:if="${pageNo != 1}" class="page-item">
                    <a class="page-link" th:href="@{|?q=${q}&pageNo=${i}|}" th:text="${i}"></a>
                </li>

            </th:block>
        </ul>
        t="page"-->
    <ul class="pagination" id="pager">
        <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
            <li th:if="${pageNo == i}" class="page-item active">
                <span class="page-link" th:text="${i}"></span>
            </li>
            <li th:unless="${pageNo == i}" class="page-item">
                <a class="page-link" th:href="@{|?q=${q}&pageNo=${i}|}" th:text="${i}"></a>
            </li>
        </th:block>
    </ul>

</div>
    </body>
</html>
