
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
  <title>Room List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div class="container">
  <h1>Contract Customer</h1>
  <table border="1">
    <thead>
    <tr>
      <th>Id</th>
      <th>Country</th>
      <th>Contact Name</th>
      <th>Company Name</th>
      <th>Contact Title</th>
      <th>City</th>
      <th>Street Address</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Postal Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${contractCustomer.contractCustomerId}">-</td>
      <td th:text="${contractCustomer.country}">-</td>
      <td th:text="${contractCustomer.contactName}">-</td>
      <td th:text="${contractCustomer.companyName}">-</td>
      <td th:text="${contractCustomer.contactTitle}">-</td>
      <td th:text="${contractCustomer.city}">-</td>
      <td th:text="${contractCustomer.streetAddress}">-</td>
      <td th:text="${contractCustomer.phone}">-</td>
      <td th:text="${contractCustomer.fax}">-</td>
      <td th:text="${contractCustomer.postalCode}">-</td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/ContractCustomers/getAllContractCustomers}">Gå tillbaka</a>

</div>
</body>
</html>
