<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center" th:text="'Hej ' + ${name} + '! Din bokning är nu bokad!'">Default Message</h2>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="card-text" th:text="'Hotellrum Nr: ' + ${nr}">Default Message2</p>
                        </div>
                        <div class="col">
                            <p class="card-text" th:text="'Från: ' + ${startDate}">Default Message3</p>
                        </div>
                        <div class="col">
                            <p class="card-text" th:text="'Till: ' + ${endDate}">Default Message3</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text font-weight-bold" th:text="'Total priset blir ' + ${discountPrice} + ' Kr'">Default Message3</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="card-text text-center" th:text="${goodByeMsg}">Default Message3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
