<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Room List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:insert="~{nav :: nav}"></div>
<div class="container">
    <h1>Room Events</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Room No</th>
            <th>Time Stamp</th>
            <th>Type</th>
            <th>Cleaning By User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${queue}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.roomNo}"></td>
            <td th:text="${event.timeStamp}"></td>
            <td th:text="${event.getClass().getSimpleName()}"></td>
            <td th:switch="${event.getClass().getSimpleName()}">
                <span th:case="'RoomCleaningFinished'" th:text="${event.cleaningByUser}"></span>
                <span th:case="'RoomCleaningStarted'" th:text="${event.cleaningByUser}"></span>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/rooms}">Gå tillbaka</a>
</div>
</body>
</html>
