<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Room List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div class="container">
    <h1>Room List</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Room Number</th>
            <th>Double Room</th>
            <th>Extra Bed</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.id}">Room ID</td>
            <td th:text="${room.roomNumber}">Room Number</td>
            <td th:text="${room.doubleRoom ? 'Yes' : 'No'}">Double Room</td>
            <td th:text="${room.extraBed}">Extra Bed</td>
            <td th:text="${room.price}">Price</td>

            <td>
                <a th:href="@{/rooms/queue/{id}(id=${room.id})}">View Queue</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
