
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room List</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-black bg-color">
    <div class="bar px-4 px-lg-5 d-flex justify-content-between align-items-center">
        <h2 class="navbar-brand" href="#!">Hotel</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!--aria-current="page"-->
                <li class="nav-item">
                    <a class="nav-link active" href="" style="color: white">Home</a>
                </li>
                <li class = "nav-item service-dropdown"><a class="nav-link active service-btn" style="color: white">Service</a>
                    <div class = "service-content">
                        <form th:action="Book-A-Room" method="get"><input type="submit" value="Book a room"></form>
                        <form th:action="addCustomer" method="get"><input type="submit" value="Register customer"></form>
                    </div>
                </li>



            </ul>
        </div>
    </div>
</nav>
<h1>Room List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Room Number</th>
        <th>Double Room</th>
        <th>Extra Bed</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="room : ${rooms}">
        <td th:text="${room.id}">Room ID</td>
        <td th:text="${room.roomNumber}">Room Number</td>
        <td th:text="${room.doubleRoom ? 'Yes' : 'No'}">Double Room</td>
        <td th:text="${room.extraBed}">Extra Bed</td>
    </tr>
    </tbody>
</table>
</body>
</html>
